
@font-face {font-family: "iconfont";
  src: 
  url('./assets/icon/iconfont.woff?t=1519804797373') format('woff'),
  url('./assets/icon/iconfont.ttf?t=1519804797373') format('truetype'),
}

.iconfont {
  // font-family:"iconfont"!important;
  font-size: 24px;
  text-align: center;
}

// .icon-emoji:before { content: "\e64a"; }

// .icon-roundcheckfill:before { content: "\e656"; }

// .icon-roundcheck:before { content: "\e657"; }

// .icon-commentfill:before { content: "\e666"; }

// .icon-comment:before { content: "\e667"; }

// .icon-wangfill:before { content: "\e69a"; }

// .icon-pic:before { content: "\e69b"; }

// .icon-home:before { content: "\e6b8"; }

// .icon-homefill:before { content: "\e6bb"; }

// .icon-message:before { content: "\e6bc"; }

// .icon-friendfill:before { content: "\e726"; }

// .icon-messagefill:before { content: "\e779"; }

// .icon-friend_light:before { content: "\e7e3"; }

// .icon-search:before { content: "\e61d"; }

// .icon-fanhui:before { content: "\e600"; }